.register {
    display: flex;
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
    display: flex;
    height: 100vh;
}

.LeftPartBack {
    background-image: url('../assets/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #021D4B;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.rightPartOfBack {
    position: relative;
    z-index: 1;
    background-color: #ABD2FF;
    padding: 20px;
    box-sizing: border-box;
    color: black;
    width: 266px;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}


.vec {
    width: 34px;
    height: 34px;

}

.text {
    text-decoration: none;
    color: black;
}

.BackGroundofSignUp {
    background-image: url('../assets/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #021D4B;
    height: 100vh;
    display: flex;
    color: white;

}

.boxOfSandwich {
    width: 756px;
    height: 666px;
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--Secondary, #ABD2FF);
    display: flex;
    align-items: center;
}

.form-control {
    border-radius: 16px;
    border: 2px solid var(--White, #FFF);
    background: rgba(2, 29, 75, 0.60);
    color: white;
    width: 300px;
    height: 44px;
    flex-shrink: 0;
}


.inputOfTheCode {
    border-radius: 16px;
    border: none;
    width: 300px;
    height: 44px;
}

.btnComfirm {
    width: 132px;
    height: 56px;
    flex-shrink: 0;
    background-color: #ABD2FF;
    color: #021D4B;
    text-align: center;
    font-family: Dana;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.4px;
}

.btn-transparent {
    color: #FFF;
    text-align: center;
    font-family: Dana;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1px;
}
.signUpChange{
    text-decoration: none;
}
.form-control::placeholder{
color: rgb(134, 131, 131);
}




