 .ghaza {
    width: 267px;
    height: 272px;
    border-radius: 41px;
    background-color: rgb(0, 0, 0, 0.85);
    border: none;

}

.foodsItem {
    width: 660px;
    height: fit-content;
    flex-shrink: 0;
    border-radius: 50px;
    background-color: var(--White, #ffffff);
}

.pictureName {
    margin-top: -50px;
    color: white;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} 
.col-8{
    background-image: url('../assets/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #021D4B;
}
