.footerLOgo {
    width: 174.624px;
    height: 66px;
    object-fit: cover;

}

.socialMediaIcons {
    width: 60px;
    border-radius: 70%;
}

.socialmedia {
    width: 100px;
    height: 100px;
}

.Useremail {
    background: var(--Primary, #021D4B);
    color: white;
    border: none;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;

}

.inputgroup {

    background: var(--Primary, #021D4B);

}

.form {
    border-radius: 16px;
    border: 1px;
    border: #021D4B;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
    color: rgba(0, 0, 0, 0.75);
    font-family: Dana;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1px;

}

.emailForm {
    border-radius: 16px;
    border: 1px;
    border: #021D4B;

}

.p {
    text-align: right;
}

.conection {
    width: 500px;
    height: 57px;
}