.packpic {
    width: 474px;
    height: 342px;
    flex-shrink: 0;
    border-radius: 41px;
    background-repeat: no-repeat;
    background-size: cover;

}

.li {
    text-align: justify;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.MainTop {
    font-family: cinema;
    color:  #000;
    text-align: justify;
    font-size: 76px;
    font-style: normal;
    font-weight: 400;
    line-height: 70%;
    /* 53.2px */
}