@font-face {
	font-family: Dana;
	font-style: normal;
	font-weight: bold;
	src: url('./assets/fonts/Dana-Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./assets/fonts/Dana-Bold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: normal;
	src: url('./assets/fonts/Dana-Regular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./assets/fonts/Dana-Regular.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: cinema;
	src: url('./assets/fonts/CinemaFull.ttf');
}

body {
  font-family: dana !important;
	direction: rtl;
	background-color: #cdcdcd;
	margin: 0;
	overflow-x: hidden;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
